

.mainlogo{
  width: 12%;
 

}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  background-color: white;
  
}


.rw{

  font-size:  1.1em;
}
#signinpara{
  font-weight: bold;
}

.nav-item>li{
  display: inline-block;
}
.navbar .navbar-collapse {
  text-align: center;
  
}
/* .navbar-toggle{
  border-color:rgb(218, 25, 25);margin-left:-20px;
} */
.login-cart{
  display: inline-block;
  font-size: 15px;
  
}
.nav-item:hover{
     color:#bdbdbd;
}
.navtogglebutton:hover{
  color:#bdbdbd;
}
.nav-item{
  padding-top: 0.5%;
 

}

.nav-item>p{
  font-size: 15px;
}
.login-cart:hover{
  color:#bdbdbd;
}

.navbar .navbar-nav {

height: 5vh;
  margin: 0px auto 0px auto;
}

@media(max-width:480px){
 

  .mainlogo{
    width: 30%;
  }

  .navbar-nav>li{
    border-bottom: 1px solid #bdbdbd;
    padding: 1%;
    background-color: white;
  }
  .navtogglebutton{
    margin-top: -60px;
    border: 1px solid  white;
    margin-left: -20px;
  }
  #signinpara{
    font-size: 0.5em;
 

  }
  #newarrivals{
    font-size: 0.7em;
  }
  .nav-item{
    font-size: 0.7em;
  }
  .navbar .navbar-nav {
 
    height: 32vh;
      margin: 0px auto 0px auto;
    }

}
@media all and (max-width: 1000px) and (orientation: landscape){
  .navbar .navbar-nav {

    height: 50vh;
  }

  .navbar-nav>li{
    border-bottom: 1px solid #bdbdbd;
    padding: 0%;
    background-color: white;
  }
  .navtogglebutton{
    margin-top: -60px;
    border: 1px solid  white;
    margin-left: -20px;
  }
}